---
- hosts: localhost
  gather_facts: no
  collections:
    - middleware_automation.redhat_csp_download

  tasks:
    - name: Download product zips
      no_log: true
      redhat_csp_download:
        url: "{{ item.url }}"
        dest: "{{ item.file }}"
        username: "{{ rh_username }}"
        password: "{{ rh_password }}"
      with_items:
        - "{{ download | from_json}}"
