ansible==11.1.0
ansible-core==2.18.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.0
cryptography==44.0.0
idna==3.10
importlib_resources==6.4.5
Jinja2==3.1.4
lxml==5.3.0
MarkupSafe==3.0.2
packaging==24.2
pip==24.1
pycparser==2.22
PyYAML==6.0.2
requests==2.32.3
resolvelib==1.0.1
urllib3==2.2.3
zipp==3.21.0
