ansible==8.7.0
ansible-core==2.15.12
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==43.0.0
idna==3.7
importlib_resources==6.4.0
Jinja2==3.1.4
lxml==5.2.2
MarkupSafe==2.1.5
packaging==24.1
pip==24.1
pycparser==2.22
PyYAML==6.0.1
requests==2.32.3
resolvelib==1.0.1
urllib3==2.2.2
zipp==3.19.2
