name: Test Disconnected CSV
on:
  push:
    paths:
      - disconnected-csv/**
      - .github/workflows/disconnected-csv.yaml

  pull_request:
    paths:
      - disconnected-csv/**
      - .github/workflows/disconnected-csv.yaml

# Declare default permissions as read only.
permissions: read-all

jobs:
  disconnected-csv:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: disconnected-csv/Dockerfile
          ignore: DL3013 # https://github.com/hadolint/hadolint/wiki/DL3013

      - uses: ./disconnected-csv
        with:
          CSV_FILE: ./disconnected-csv/tests/sample-clusterserviceversion.yaml
          TAGS_TO_DIGESTS: 1
