name: Test Disconnected CSV
on:
  push:
    paths:
      - disconnected-csv/**
      - .github/workflows/disconnected-csv.yaml

  pull_request:
    paths:
      - disconnected-csv/**
      - .github/workflows/disconnected-csv.yaml

# Declare default permissions as read only.
permissions: read-all

jobs:
  disconnected-csv:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: disconnected-csv/Dockerfile
          ignore: DL3013,DL3041 # https://github.com/hadolint/hadolint/wiki/DL3013 https://github.com/hadolint/hadolint/wiki/DL3041

      - uses: ./disconnected-csv
        with:
          CSV_FILE: ./disconnected-csv/tests/sample-clusterserviceversion.yaml
          TAGS_TO_DIGESTS: 1
