name: Test github-dispatches

on:
  push:
    paths:
      - .github/workflows/github-dispatches.yaml
      - github-dispatches/**
  pull_request:
    paths:
      - .github/workflows/github-dispatches.yaml
      - github-dispatches/**

# Declare default permissions as read only.
permissions: read-all

jobs:
  github-dispatches:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4

      - uses: hadolint/hadolint-action@54c9adbab1582c2ef04b2016b760714a4bfde3cf # v3.1.0
        with:
          dockerfile: github-dispatches/Dockerfile_build

      - name: Switch the action to use the Dockerfile_build
        run: |
          mv github-dispatches/Dockerfile github-dispatches/Dockerfile_runnable
          mv github-dispatches/Dockerfile_build github-dispatches/Dockerfile

      - name: github-dispatches
        uses: ./github-dispatches
        with:
          username_token: ${{ secrets.REPO_TOKEN }}
          repo_array: '[{"url":"redhat-cop/rego-policies","event_type":"Trigger","client_payload":{"from-action":"github-dispatches"}}]'