name: Test github-dispatches

on:
  push:
    paths:
      - .github/workflows/github-dispatches.yaml
      - github-dispatches/**
  pull_request:
    paths:
      - .github/workflows/github-dispatches.yaml
      - github-dispatches/**

# Declare default permissions as read only.
permissions: read-all

jobs:
  github-dispatches:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: github-dispatches/Dockerfile_build

      - name: Switch the action to use the Dockerfile_build
        run: |
          mv github-dispatches/Dockerfile github-dispatches/Dockerfile_runnable
          mv github-dispatches/Dockerfile_build github-dispatches/Dockerfile

      - name: github-dispatches
        uses: ./github-dispatches
        with:
          username_token: ${{ secrets.REPO_TOKEN }}
          repo_array: '[{"url":"redhat-cop/rego-policies","event_type":"Trigger","client_payload":{"from-action":"github-dispatches"}}]'
