name: Test redhat-csp-download

on:
  push:
    paths:
      - .github/workflows/redhat-csp-download.yaml
      - redhat-csp-download/**
  pull_request:
    paths:
      - .github/workflows/redhat-csp-download.yaml
      - redhat-csp-download/**

# Declare default permissions as read only.
permissions: read-all

jobs:
  redhat-csp-download:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: redhat-csp-download/Dockerfile_build

      - name: Switch the action to use the Dockerfile_build
        run: |
          mv redhat-csp-download/Dockerfile redhat-csp-download/Dockerfile_runnable
          mv redhat-csp-download/Dockerfile_build redhat-csp-download/Dockerfile

      - name: redhat-csp-download
        uses: ./redhat-csp-download
        with:
          rh_username: ${{ secrets.RH_USERNAME }}
          rh_password: ${{ secrets.RH_PASSWORD }}
          download: '[{"file":"/github/workspace/eap-connectors.zip","url":"https://access.redhat.com/jbossnetwork/restricted/softwareDownload.html?softwareId=37193"}]'

      - name: Check downloaded file exists
        run: |
          if [ -z "${{ secrets.RH_USERNAME }}" ] || [ -z "${{ secrets.RH_PASSWORD }}" ]
          then
            echo "RH_USERNAME or RH_PASSWORD is empty. Skipping."
            exit 0
          fi

          FILE="eap-connectors.zip"
          if [ -f "$FILE" ]; then
            echo "$FILE exists."
          else
            echo "$FILE does not exist."
            exit 1
          fi
