name: Test set-helm-version

on:
  push:
    paths:
      - .github/workflows/set-helm-version.yaml
      - set-helm-version/**
  pull_request:
    paths:
      - .github/workflows/set-helm-version.yaml
      - set-helm-version/**

# Declare default permissions as read only.
permissions: read-all

jobs:
  set-helm-version:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4

      - uses: hadolint/hadolint-action@54c9adbab1582c2ef04b2016b760714a4bfde3cf # v3.1.0
        with:
          dockerfile: set-helm-version/Dockerfile

      - name: set-helm-version
        uses: ./set-helm-version
        with:
          path: set-helm-version/_test
          chart_version: v1.5.0
          app_version: v1.6.0

      - name: Check that the chart was modified as expected
        run: |
          if grep -Fxq "version: v1.5.0" set-helm-version/_test/Chart.yaml
          then
              echo "Found expected chart version"
          else
              echo "Did not find expected chart version!"
              exit 1
          fi
          
          if grep -Fxq "appVersion: v1.6.0" set-helm-version/_test/Chart.yaml
          then
              echo "Found expected app version"
          else
              echo "Did not find expected app version!"
              exit 1
          fi