name: Build ssh-agent

on:
  push:
    paths:
      - .github/workflows/ssh-agent-build.yaml
      - ssh-agent/**
  pull_request:
    paths:
      - .github/workflows/ssh-agent-build.yaml
      - ssh-agent/**

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4

      - name: Set up Node.js
        uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: 16

      - name: Install Node.js dependencies
        run: |
          pushd ssh-agent/
          npm install
          npm i -g @vercel/ncc
          popd

      - name: Run linters
        uses: wearerequired/lint-action@548d8a7c4b04d3553d32ed5b6e91eb171e10e7bb # v2
        with:
          continue_on_error: false
          eslint_dir: ssh-agent/
          eslint_auto_fix: false
          eslint: true
          prettier_dir: ssh-agent/
          prettier_auto_fix: false
          prettier: true

      - name: Compile Node.js dependencies
        run: |
          pushd ssh-agent/
          npm run compile
          popd