name: Build ssh-agent

on:
  push:
    paths:
      - .github/workflows/ssh-agent-build.yaml
      - ssh-agent/**
  pull_request:
    paths:
      - .github/workflows/ssh-agent-build.yaml
      - ssh-agent/**

# Declare default permissions as read only.
permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4

      - name: Set up Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 20

      - name: Install Node.js dependencies
        run: |
          pushd ssh-agent/
          npm ci
          popd

      - name: Run linters
        run: |
          pushd ssh-agent/
          npm run prettier
          npm run eslint
          popd

      - name: Compile Node.js dependencies
        run: |
          pushd ssh-agent/
          npm run compile
          popd
